<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Edytuj konto bankowe</title>-->
<!--</head>-->
<!--<body>-->

<!--<h1>Edytuj konto bankowe </h1>-->
<!--<a th:href="@{/bank-accounts/list}">Wróć do listy kont bankowych</a>-->

<!--<form th:action="@{/bank-accounts}"-->
<!--      th:object="${bankAccount}" th:method="PUT">-->

<!--    <div th:if="${#fields.hasErrors()}">-->
<!--            <span class="validationError">-->
<!--                Usun problemy, sprobuj ponownie-->
<!--            </span>-->
<!--    </div>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>ID</td>-->
<!--            <td>:</td>-->
<!--            <td th:utext="${bankAccount.id}">ID</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Nazwa firmy</td>-->
<!--            <td>:</td>-->
<!--            <td>-->
<!--                <select th:field="*{company}">-->
<!--                    <option th:each="company : ${companies}"-->
<!--                            th:value="${company.id}"-->
<!--                            th:text="${company}">FIRMA-->
<!--                    </option>-->
<!--                </select>-->
<!--                <span class="validationError"-->
<!--                      th:if="${#fields.hasErrors('company')}"-->
<!--                      th:errors="*{company}"></span>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Numer karty</td>-->
<!--            <td>:</td>-->
<!--            <td>-->
<!--                <input type="text" th:field="*{creditCardNumber}" />-->
<!--                <span class="validationError"-->
<!--                      th:if="${#fields.hasErrors('creditCardNumber')}"-->
<!--                      th:errors="*{creditCardNumber}"></span>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>CVC</td>-->
<!--            <td>:</td>-->
<!--            <td>-->
<!--                <input type="text" th:field="*{cvc}" />-->
<!--                <span class="validationError"-->
<!--                      th:if="${#fields.hasErrors('cvc')}"-->
<!--                      th:errors="*{cvc}"></span>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Środki</td>-->
<!--            <td>:</td>-->
<!--            <td>-->
<!--                <input type="text" th:field="*{balance}" />-->
<!--                <span class="validationError"-->
<!--                      th:if="${#fields.hasErrors('balance')}"-->
<!--                      th:errors="*{balance}"></span>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Status</td>-->
<!--            <td>:</td>-->
<!--            <td>-->
<!--                <select th:field="*{status}">-->
<!--                    <option th:value="true" th:text="True">Prawda</option>-->
<!--                    <option th:value="false" th:text="False">Fałsz</option>-->
<!--                </select>-->
<!--                <span class="validationError"-->
<!--                      th:if="${#fields.hasErrors('status')}"-->
<!--                      th:errors="*{status}"></span>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    <input type="submit" th:value="Aktualizuj" />-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
<h1>Edytuj konto bankowe </h1>
<a th:href="@{/bank-accounts/list}">Wróć do listy kont bankowych</a>
<br/>
<h2 th:text="${accountError} ? 'Przekroczony budżet sprzedawcy' : ''" />

<br/><br/>
<form th:action="@{/bank-accounts/{id}(id=${bankAccount.id})}"
      th:object="${bankAccount}" th:method="PUT">
    <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Usun problemy, sprobuj ponownie
            </span>
    </div>
    <table>
                <tr>
                    <td>ID</td>
                    <td>:</td>
                    <td th:utext="${bankAccount.id}">ID</td>
                </tr>
                <tr>
                    <td>Nazwa firmy</td>
                    <td>:</td>
                    <td>
                        <select th:field="*{company}">
                            <option th:each="company : ${companies}"
                                    th:value="${company.id}"
                                    th:text="${company}">FIRMA
                            </option>
                        </select>
                        <span class="validationError"
                              th:if="${#fields.hasErrors('company')}"
                              th:errors="*{company}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Numer karty</td>
                    <td>:</td>
                    <td>
                        <input type="text" th:field="*{creditCardNumber}" />
                        <span class="validationError"
                              th:if="${#fields.hasErrors('creditCardNumber')}"
                              th:errors="*{creditCardNumber}"></span>
                    </td>
                </tr>
                <tr>
                    <td>CVC</td>
                    <td>:</td>
                    <td>
                        <input type="text" th:field="*{cvc}" />
                        <span class="validationError"
                              th:if="${#fields.hasErrors('cvc')}"
                              th:errors="*{cvc}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Środki</td>
                    <td>:</td>
                    <td>
                        <input type="text" th:field="*{balance}" />
                        <span class="validationError"
                              th:if="${#fields.hasErrors('balance')}"
                              th:errors="*{balance}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>:</td>
                    <td>
                        <select th:field="*{status}">
                            <option th:value="true" th:text="True">Prawda</option>
                            <option th:value="false" th:text="False">Fałsz</option>
                        </select>
                        <span class="validationError"
                              th:if="${#fields.hasErrors('status')}"
                              th:errors="*{status}"></span>
                    </td>
                </tr>
            </table>
    <input type="submit" th:value="Aktualizuj" />
</form>


<br/>
</body>
</html>