<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Przelew pieniedzy</h1>

<form th:action="@{/bank-accounts/send}"
      th:object="${dto}" th:method="PUT">

    <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Usun problemy, sprobuj ponownie
            </span>
    </div>
    <table>
        <tr>
            <td>Balance</td>
            <td>:</td>
            <td th:utext="${bankAccount.balance}">BALANCE
                <span class="validationError"
                      th:if="${#fields.hasErrors('balance')}"
                      th:errors="*{balance}"></span>
            </td>
        </tr>

        <td>Przelew</td>
        <td>:</td>
        <td>
            <input type="text" th:field="*{payment}" />
            <span class="validationError"
                  th:if="${#fields.hasErrors('payment')}"
                  th:errors="*{payment}"></span>
        </td>

        <label for="seller">Sprzedawca: </label>
        <select th:field="*{seller}">
            <option th:each="seller : ${sellers}"
                    th:value="${seller.id}"
                    th:text="${seller}">SPRZEDAWCA
            </option>
        </select>
        <label for="bankAccount">Konto bankowe: </label>
        <select th:field="*{bankAccount}">
            <option th:each="bank : ${bankAccount}"
                    th:value="${bank.id}"
                    th:text="${bank}">SPRZEDAWCA
            </option>
        </select>
    </table>

<input type="submit" th:value="Przelej" />
</form>


</body>
</html>