<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nowe konto bankowe</title>
</head>
<body>

<h1> Dodaj nowe konto bankowe </h1>
<h1>Nie bedzie potrzebne</h1>
<form method="POST" th:action="@{/bank-accounts}" th:object="${bankAccount}">
    <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Wystapily bledy. Sprobuj ponownie.
            </span>
    </div>

    <label for="creditCardNumber">Numer karty: </label>
    <input type="text" th:field="*{creditCardNumber}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('creditCardNumber')}"
          th:errors="*{creditCardNumber}"></span>
    <br/>

    <label for="cvc">CVC: </label>
    <input type="text" th:field="*{cvc}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('cvc')}"
          th:errors="*{cvc}"></span>
    <br/>

    <label for="status">Status: </label>
    <select th:field="*{status}">
        <option th:value="true" th:text="True"></option>
        <option th:value="false" th:text="False"></option>
    </select>
    <span class="validationError"
          th:if="${#fields.hasErrors('status')}"
          th:errors="*{status}"></span>
    <br/>
    <label for="balance">Bilans: </label>
    <input type="text" th:field="*{balance}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('balance')}"
          th:errors="*{balance}"></span>
    <br/>
    <input type="submit" value="Utworz konto"/>
</form>

</body>
</html>