<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nowa kampania</title>
</head>
<body>

<h1>Dodaj nową kampanię</h1>

<form method="POST" th:action="@{/campaigns}" th:object="${campaign}">

  <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Wystapily bledy. Sprobuj ponownie.
            </span>
  </div>

  <label for="name">Nazwa kampanii: </label>
  <input type="text" th:field="*{name}"/>
  <span class="validationError"
        th:if="${#fields.hasErrors('name')}"
        th:errors="*{name}"></span>
  <br/>

  <label for="bid">Wartość oferty: </label>
  <input  type="text" th:field="*{bid}" placeholder="double"/>
  <span class="validationError"
        th:if="${#fields.hasErrors('bid')}"
        th:errors="*{bid}"></span>
  <br/>

  <label for="fund">Dostępne środki: </label>
  <input  type="text" th:field="*{fund}" placeholder="double"/>
  <span class="validationError"
        th:if="${#fields.hasErrors('fund')}"
        th:errors="*{fund}"></span>
  <br/>

  <label th:for="${#ids.next('status')}">Status: </label>
  <input type="checkbox" th:field="*{status}"/>
  <span class="validationError"
        th:if="${#fields.hasErrors('status')}"
        th:errors="*{status}"></span>
  <br/>

  <label for="city">Miasto: </label>
  <select th:field="*{city}">
    <option th:each="city : ${cities}"
            th:value="${city.id}"
            th:text="${city}">MIASTO
    </option>
  </select>
  <span class="validationError"
        th:if="${#fields.hasErrors('city')}"
        th:errors="*{city}"></span>
  <br/>

  <label for="product">Produkt: </label>
  <select th:field="*{product}">
    <option th:each="product : ${products}"
            th:value="${product.id}"
            th:text="${product}">PRODUKT
    </option>
  </select>
  <span class="validationError"
        th:if="${#fields.hasErrors('product')}"
        th:errors="*{product}"></span>
  <br/>

  <label for="radius">Promień: </label>
  <input type="text" th:field="*{radius}"/>
  <span class="validationError"
        th:if="${#fields.hasErrors('radius')}"
        th:errors="*{radius}"></span>
  <br/>

  <label for="keywords">Słowa kluczowe: </label>
  <input type="text" th:field="*{keywords}"/>
  <span class="validationError"
        th:if="${#fields.hasErrors('keywords')}"
        th:errors="*{keywords}"></span>
  <br/>

  <input type="submit" value="Utworz kampanie"/>
</form>

<a th:href="@{/}"><input type="submit" value="Menu"/></a>

</body>
</html>