<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nowy produkt</title>
</head>
<body>

<h1> Dodaj nowy produkt </h1>

<form method="POST" th:action="@{/products}" th:object="${product}">
    <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Wystapily bledy. Sprobuj ponownie.
            </span>
    </div>

    <label for="productName">Nazwa produktu: </label>
    <input type="text" th:field="*{productName}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('productName')}"
          th:errors="*{productName}"></span>
    <br/>

    <label for="sellerId">Sprzedawca: </label>
    <select th:field="*{sellerId}">
        <option th:each="seller : ${sellers}"
                th:value="${seller.id}"
                th:text="${seller}">SPRZEDAWCA
        </option>
    </select>
    <span class="validationError"
          th:if="${#fields.hasErrors('sellerId')}"
          th:errors="*{sellerId}"></span>
    <br/>
    <input type="submit" value="Utworz produkt"/>
</form>

<a th:href="@{/}"><input type="submit" value="Menu"/></a>

</body>
</html>