<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista kampanii</title>
</head>

<body>

<h1>Lista produktów</h1>

<table>
  <tr>
    <th>Nazwa</th>
    <th>Edytuj</th>
    <th>Usuń</th>
  </tr>
  <tr th:each ="product : ${products}">
    <td th:text="${product.name}">NAME</td>
    <td>
      <a th:href="@{/products/{id}(id=${product.id})}">
        <input type="submit" value="Edytuj"/>
      </a>
    </td>
    <td>
      <form th:action="@{/products/{id}(id=${product.id})}" th:method="DELETE">
        <input type = "submit" value="Usuń"/>
      </form>
    </td>
  </tr>
</table>


<a th:href="@{/}"><input type="submit" value="Menu"/></a>
<a th:href="@{/products/form}"><input type="submit" value="Utwórz nowy produkt"/></a>
</body>

</html>