<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nowy sprzedawca</title>
</head>
<body>

<h1> Dodaj nowego sprzedawce </h1>

<form method="POST" th:action="@{/sellers}" th:object="${seller}">
    <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Wystapily bledy. Sprobuj ponownie.
            </span>
    </div>

    <label for="name">Nazwa sprzedawcy: </label>
    <input type="text" th:field="*{name}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"></span>
    <br/>

    <label for="balance">Stan konta: </label>
    <input type="text" th:field="*{balance}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('balance')}"
          th:errors="*{balance}"></span>
    <br/>

    <label for="companyId">Sprzedawca: </label>
    <select th:field="*{company}">
        <option th:each="company : ${companies}"
                th:value="${company.id}"
                th:text="${company}">SPRZEDAWCA
        </option>
    </select>
    <span class="validationError"
          th:if="${#fields.hasErrors('company')}"
          th:errors="*{company}"></span>
    <br/>

    <input type="submit" value="Utworz sprzedawce"/>
</form>

<a th:href="@{/}"><input type="submit" value="Menu"/></a>

</body>
</html>